<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_click</key>
	<string>{"carbonKeyCode":36,"carbonModifiers":0}</string>
	<key>KeyboardShortcuts_debugElement</key>
	<string>{"carbonKeyCode":119,"carbonModifiers":256}</string>
	<key>KeyboardShortcuts_reloadUI</key>
	<string>{"carbonKeyCode":15,"carbonModifiers":768}</string>
	<key>KeyboardShortcuts_toggleLockUI</key>
	<string>{"carbonKeyCode":115,"carbonModifiers":256}</string>
	<key>KeyboardShortcuts_toggleShortcat</key>
	<string>{"carbonKeyCode":49,"carbonModifiers":768}</string>
	<key>continuousMode</key>
	<true/>
	<key>downKeycode</key>
	<integer>38</integer>
	<key>leftKeycode</key>
	<integer>4</integer>
	<key>rightKeycode</key>
	<integer>37</integer>
	<key>upKeycode</key>
	<integer>40</integer>
</dict>
</plist>
