# gapul.net リバースプロキシ (Tailscale限定・LE証明書はCloudflare DNS-01)
home.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.88:8123 {
		header_up -X-Forwarded-For
	}
}

dockge.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:5001
}

pve.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy https://192.168.116.100:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

dash.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:3000
}

status.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:3001
}

wud.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:3002
}


vault.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:8080
}

rss.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:8081
}

obsidian.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:5984
}

dav.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:5232
}

pdf.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:8095
}

paperless.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:8097
}

# restic REST server (独立リポジトリ B・append-only)。Mac の 2 つ目のバックアップ先。
restic.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:8000
}

# AdGuard Home 主系 (Raspberry Pi 4 / 制作用途で停止可)
dns.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.53:3000
}

# AdGuard Home 副系 (.65 / 常時稼働フェイルオーバー先)
dns2.gapul.net {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy 192.168.116.65:3080
}
