[Unit]
Description=Filebrowser for restic read-only view
After=restic-view-mount.service
Requires=restic-view-mount.service

[Service]
Type=simple
ExecStart=/usr/local/bin/filebrowser -d /etc/restic-view/filebrowser.db
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
