<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>AAC31CDE-C1C8-4C21-B653-3DEE7BB804A0</string>
			<key>WFCondition</key>
			<integer>100</integer>
			<key>WFControlFlowMode</key>
			<integer>0</integer>
			<key>WFInput</key>
			<dict>
				<key>Type</key>
				<string>Variable</string>
				<key>Variable</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.searchappstore</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>451C704F-B056-422A-83F0-9CF49A795380</string>
			<key>WFSearchTerm</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{0, 1}</key>
						<dict>
							<key>Type</key>
							<string>ExtensionInput</string>
						</dict>
					</dict>
					<key>string</key>
					<string>￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.properties.appstore</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>AA489709-123A-404F-9036-B9EB350EEBE7</string>
			<key>WFContentItemPropertyName</key>
			<string>Bundle Identifier</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>App Store Apps</string>
					<key>OutputUUID</key>
					<string>451C704F-B056-422A-83F0-9CF49A795380</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>AAC31CDE-C1C8-4C21-B653-3DEE7BB804A0</string>
			<key>WFControlFlowMode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.searchappstore</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>14C22F08-8969-4BB0-BB6A-FEDF01212D85</string>
			<key>WFItemLimit</key>
			<real>1</real>
			<key>WFSearchTerm</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{0, 1}</key>
						<dict>
							<key>Type</key>
							<string>Ask</string>
						</dict>
					</dict>
					<key>string</key>
					<string>￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.choosefromlist</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>59C1E956-068C-4DC8-9223-3E44248F70A1</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>App Store Apps</string>
					<key>OutputUUID</key>
					<string>14C22F08-8969-4BB0-BB6A-FEDF01212D85</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.properties.appstore</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>651D56A9-00C7-498D-8286-A5308E34CCB5</string>
			<key>WFContentItemPropertyName</key>
			<string>Bundle Identifier</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>App Store Apps</string>
					<key>OutputUUID</key>
					<string>14C22F08-8969-4BB0-BB6A-FEDF01212D85</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>AAC31CDE-C1C8-4C21-B653-3DEE7BB804A0</string>
			<key>UUID</key>
			<string>BD7B8E9A-BE31-423B-B9EF-0A42B898D555</string>
			<key>WFControlFlowMode</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.gettext</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>E88FBB95-3D3C-4194-9F82-15E08764384A</string>
			<key>WFTextActionText</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{8, 1}</key>
						<dict>
							<key>OutputName</key>
							<string>Bundle Identifier</string>
							<key>OutputUUID</key>
							<string>651D56A9-00C7-498D-8286-A5308E34CCB5</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
					</dict>
					<key>string</key>
					<string>https://￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.setclipboard</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>581018A8-2BDE-4076-91AB-F5A349FA4028</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Text</string>
					<key>OutputUUID</key>
					<string>E88FBB95-3D3C-4194-9F82-15E08764384A</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
