<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>Type</key>
					<string>ExtensionInput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Text</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>3C749533-BE5F-4651-A2D1-2B14BAE659FB</string>
			<key>WFCondition</key>
			<integer>101</integer>
			<key>WFControlFlowMode</key>
			<integer>0</integer>
			<key>WFInput</key>
			<dict>
				<key>Type</key>
				<string>Variable</string>
				<key>Variable</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFStringContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
						</array>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Text</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.ask</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>C3DBB52B-CB65-471A-9D1B-63AA7C528108</string>
			<key>WFAskActionPrompt</key>
			<string>input or paste text here</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>BBF9CE64-4506-4F2C-84BE-F9503E91204F</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Provided Input</string>
					<key>OutputUUID</key>
					<string>C3DBB52B-CB65-471A-9D1B-63AA7C528108</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Text</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>6C9FEC12-D068-4089-BACB-4914AB815B5C</string>
			<key>WFCondition</key>
			<integer>101</integer>
			<key>WFControlFlowMode</key>
			<integer>0</integer>
			<key>WFInput</key>
			<dict>
				<key>Type</key>
				<string>Variable</string>
				<key>Variable</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFStringContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
						</array>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Text</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.exit</string>
		<key>WFWorkflowActionParameters</key>
		<dict/>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>6C9FEC12-D068-4089-BACB-4914AB815B5C</string>
			<key>WFControlFlowMode</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>3C749533-BE5F-4651-A2D1-2B14BAE659FB</string>
			<key>UUID</key>
			<string>B111480D-E4CD-4416-9751-640F0D20E712</string>
			<key>WFControlFlowMode</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.count</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Input</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>Aggrandizements</key>
					<array>
						<dict>
							<key>CoercionItemClass</key>
							<string>WFStringContentItem</string>
							<key>Type</key>
							<string>WFCoercionVariableAggrandizement</string>
						</dict>
					</array>
					<key>Type</key>
					<string>Variable</string>
					<key>VariableName</key>
					<string>Text</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>UUID</key>
			<string>307EE845-B779-4A27-967F-F5418F41ECE1</string>
			<key>WFCountType</key>
			<string>Characters</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Count</string>
					<key>OutputUUID</key>
					<string>307EE845-B779-4A27-967F-F5418F41ECE1</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Characters</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.count</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Input</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>Aggrandizements</key>
					<array>
						<dict>
							<key>CoercionItemClass</key>
							<string>WFStringContentItem</string>
							<key>Type</key>
							<string>WFCoercionVariableAggrandizement</string>
						</dict>
					</array>
					<key>Type</key>
					<string>Variable</string>
					<key>VariableName</key>
					<string>Text</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>UUID</key>
			<string>6D425094-1D38-4686-8D2F-AADE293A4CD9</string>
			<key>WFCountType</key>
			<string>Words</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Count</string>
					<key>OutputUUID</key>
					<string>6D425094-1D38-4686-8D2F-AADE293A4CD9</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Words</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.count</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Input</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>Aggrandizements</key>
					<array>
						<dict>
							<key>CoercionItemClass</key>
							<string>WFStringContentItem</string>
							<key>Type</key>
							<string>WFCoercionVariableAggrandizement</string>
						</dict>
					</array>
					<key>Type</key>
					<string>Variable</string>
					<key>VariableName</key>
					<string>Text</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>UUID</key>
			<string>9FAE1572-9569-41CF-A610-C46139B151CF</string>
			<key>WFCountType</key>
			<string>Lines</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>数</string>
					<key>OutputUUID</key>
					<string>9FAE1572-9569-41CF-A610-C46139B151CF</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Lines </string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.count</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Input</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>Aggrandizements</key>
					<array>
						<dict>
							<key>CoercionItemClass</key>
							<string>WFStringContentItem</string>
							<key>Type</key>
							<string>WFCoercionVariableAggrandizement</string>
						</dict>
					</array>
					<key>Type</key>
					<string>Variable</string>
					<key>VariableName</key>
					<string>Text</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>UUID</key>
			<string>1500BDEF-229D-44E2-83D6-09E530A8AF71</string>
			<key>WFCountType</key>
			<string>Sentences</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Count</string>
					<key>OutputUUID</key>
					<string>1500BDEF-229D-44E2-83D6-09E530A8AF71</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Sentences</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.detectlanguage</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>UUID</key>
			<string>091AFF18-9A83-4DFB-BF2F-99A42B5BA6A6</string>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{0, 1}</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Text</string>
						</dict>
					</dict>
					<key>string</key>
					<string>￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>WFInput</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>OutputName</key>
					<string>Language</string>
					<key>OutputUUID</key>
					<string>091AFF18-9A83-4DFB-BF2F-99A42B5BA6A6</string>
					<key>Type</key>
					<string>ActionOutput</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
			<key>WFVariableName</key>
			<string>Languages</string>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>8EA176E1-B1F1-4D87-BC75-2FDCDAC583C2</string>
			<key>WFCondition</key>
			<integer>4</integer>
			<key>WFConditionalActionString</key>
			<string>Japanese</string>
			<key>WFControlFlowMode</key>
			<integer>0</integer>
			<key>WFInput</key>
			<dict>
				<key>Type</key>
				<string>Variable</string>
				<key>Variable</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Languages</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.showresult</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{10, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Lines </string>
						</dict>
						<key>{16, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Sentences</string>
						</dict>
						<key>{27, 1}</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Text</string>
						</dict>
						<key>{4, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Characters</string>
						</dict>
					</dict>
					<key>string</key>
					<string>文字: ￼
行数: ￼
文章: ￼

入力した文章:
￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>8EA176E1-B1F1-4D87-BC75-2FDCDAC583C2</string>
			<key>WFControlFlowMode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>D17CA18B-DD45-4919-8A3A-D412448112B8</string>
			<key>WFCondition</key>
			<integer>4</integer>
			<key>WFConditionalActionString</key>
			<string>日本語</string>
			<key>WFControlFlowMode</key>
			<integer>0</integer>
			<key>WFInput</key>
			<dict>
				<key>Type</key>
				<string>Variable</string>
				<key>Variable</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Languages</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.showresult</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{10, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Lines </string>
						</dict>
						<key>{16, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Sentences</string>
						</dict>
						<key>{27, 1}</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Text</string>
						</dict>
						<key>{4, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Characters</string>
						</dict>
					</dict>
					<key>string</key>
					<string>文字: ￼
行数: ￼
文章: ￼

入力した文章:
￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>D17CA18B-DD45-4919-8A3A-D412448112B8</string>
			<key>WFControlFlowMode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.showresult</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Value</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{0, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Characters</string>
						</dict>
						<key>{13, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Words</string>
						</dict>
						<key>{21, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Lines </string>
						</dict>
						<key>{29, 1}</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Sentences</string>
						</dict>
						<key>{55, 1}</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Text</string>
						</dict>
					</dict>
					<key>string</key>
					<string>￼ characters
￼ words
￼ lines
￼ sentences

[input text]
￼</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenString</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>D17CA18B-DD45-4919-8A3A-D412448112B8</string>
			<key>WFControlFlowMode</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>WFWorkflowActionIdentifier</key>
		<string>is.workflow.actions.conditional</string>
		<key>WFWorkflowActionParameters</key>
		<dict>
			<key>GroupingIdentifier</key>
			<string>8EA176E1-B1F1-4D87-BC75-2FDCDAC583C2</string>
			<key>UUID</key>
			<string>DBB652B2-A9B6-4580-82C4-D81AB37D13C6</string>
			<key>WFControlFlowMode</key>
			<integer>2</integer>
		</dict>
	</dict>
</array>
</plist>
