<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSColorPanelMode</key>
	<string>0</string>
	<key>NSColorPickerPreferredRGBEntryMode</key>
	<integer>2</integer>
	<key>NSColorPickerSlidersDefaults</key>
	<string>0</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 230.000000, 287.000000, NO, NO</string>
		<string>0.000000, 288.000000, 230.000000, 67.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 205 250 346 0 0 1710 1074 </string>
	<key>NSWindow Frame Settings</key>
	<string>589 158 640 532 0 0 1710 1074 </string>
	<key>annotationBackgroundColor</key>
	<string>#929292FF</string>
	<key>candidateListDirection</key>
	<integer>1</integer>
	<key>candidatesBackgroundColor</key>
	<string>#929292FF</string>
	<key>dateConversions</key>
	<dict>
		<key>conversions</key>
		<array/>
		<key>yomis</key>
		<array/>
	</dict>
	<key>dictionaries</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>encoding</key>
			<integer>3</integer>
			<key>filename</key>
			<string>SKK-JISYO.L</string>
			<key>saveToUserDict</key>
			<true/>
			<key>type</key>
			<string>traditional</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>encoding</key>
			<integer>3</integer>
			<key>filename</key>
			<string>SKK-JISYO.geo</string>
			<key>saveToUserDict</key>
			<false/>
			<key>type</key>
			<string>traditional</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>encoding</key>
			<integer>3</integer>
			<key>filename</key>
			<string>SKK-JISYO.jinmei</string>
			<key>saveToUserDict</key>
			<false/>
			<key>type</key>
			<string>traditional</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>encoding</key>
			<integer>3</integer>
			<key>filename</key>
			<string>SKK-JISYO.propernoun</string>
			<key>saveToUserDict</key>
			<false/>
			<key>type</key>
			<string>traditional</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>encoding</key>
			<integer>3</integer>
			<key>filename</key>
			<string>SKK-JISYO.station</string>
			<key>saveToUserDict</key>
			<false/>
			<key>type</key>
			<string>traditional</string>
		</dict>
	</array>
	<key>directModeBundleIdentifiers</key>
	<array/>
	<key>inlineCandidateCount</key>
	<integer>5</integer>
	<key>inputModePanel</key>
	<dict>
		<key>net.mtgto.inputmethod.macSKK.ascii</key>
		<dict>
			<key>backgroundColor</key>
			<string>#929292FF</string>
			<key>textColor</key>
			<string>#000000FF</string>
		</dict>
		<key>net.mtgto.inputmethod.macSKK.eisu</key>
		<dict>
			<key>backgroundColor</key>
			<string>#929292FF</string>
			<key>textColor</key>
			<string>#000000FF</string>
		</dict>
		<key>net.mtgto.inputmethod.macSKK.hankaku</key>
		<dict>
			<key>backgroundColor</key>
			<string>#929292FF</string>
			<key>textColor</key>
			<string>#000000FF</string>
		</dict>
		<key>net.mtgto.inputmethod.macSKK.hiragana</key>
		<dict>
			<key>backgroundColor</key>
			<string>#929292FF</string>
			<key>textColor</key>
			<string>#000000FF</string>
		</dict>
		<key>net.mtgto.inputmethod.macSKK.katakana</key>
		<dict>
			<key>backgroundColor</key>
			<string>#929292FF</string>
			<key>textColor</key>
			<string>#000000FF</string>
		</dict>
	</dict>
	<key>kanaRule</key>
	<string>kana-rule.conf</string>
	<key>overridesAnnotationBackgroundColor</key>
	<false/>
	<key>overridesCandidatesBackgroundColor</key>
	<false/>
	<key>privateMode</key>
	<false/>
	<key>punctuation</key>
	<integer>0</integer>
	<key>selectCandidateKeys</key>
	<string>ASDFGHJKL</string>
	<key>showCompletion</key>
	<false/>
	<key>showsMarkedTextMarker</key>
	<true/>
	<key>skkserv</key>
	<dict>
		<key>address</key>
		<string>127.0.0.1</string>
		<key>enableCompletion</key>
		<true/>
		<key>enabled</key>
		<true/>
		<key>encoding</key>
		<integer>4</integer>
		<key>port</key>
		<integer>1178</integer>
		<key>requestEncoding</key>
		<integer>3</integer>
		<key>responseEncoding</key>
		<integer>4</integer>
		<key>saveToUserDict</key>
		<false/>
	</dict>
	<key>workarounds</key>
	<array>
		<dict>
			<key>bundleIdentifier</key>
			<string>com.mitchellh.ghostty</string>
			<key>insertBlankString</key>
			<true/>
			<key>showMarkerWhenEmpty</key>
			<false/>
			<key>treatFirstCharacterAsMarkedText</key>
			<true/>
		</dict>
		<dict>
			<key>bundleIdentifier</key>
			<string>com.microsoft.VSCode</string>
			<key>insertBlankString</key>
			<true/>
			<key>showMarkerWhenEmpty</key>
			<false/>
			<key>treatFirstCharacterAsMarkedText</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
